body {
  background-color: beige;
  background-image: -webkit-linear-gradient(45deg, #228b22 50%, beige 50%);
  min-height: 1000px;
  font-family: "Lilita One";
}

button {
  margin: 10px;
}

input {
  max-width: 200px;
  margin: 0 auto;
}

.alinharTexto {
    text-align: center;
}

.heading {
  font-size: 1.5rem;
  font-weight: 200;
}

.box {
  margin: 50px auto;
  max-width: 400px;
  background: beige;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px black;
  padding: 10px;
}


.resultadoCampo {
  max-width: 300px;
  text-align: center;
}
